<h2>Reactives: <small> Dynamics </small></h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="User name"
        formControlName="name"
      />
      @if (formUtils.isValidField(myForm, 'name')) {
      <span class="form-text text-danger">
        {{ formUtils.getFieldError(myForm, "name") }}
      </span>
      }
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Add</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Add favorite"
          [formControl]="newFavourite"
          (keydown.enter)="onAddToFavourites()"
          (keydown.enter)="$event.preventDefault()"
        />

        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="onAddToFavourites()"
        >
          Add favourite
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favourites</label>
    <div class="col-sm-9" formArrayName="favouriteGames">
      @for (favouriteGame of favouriteGames.controls; track $index; let i =
      $index) {

      <div class="mb-1">
        <div class="input-group">
          <input class="form-control" [formControlName]="i" />

          <button
            class="btn btn-outline-danger"
            type="button"
            (click)="onDeleteFavourite(i)"
          >
            Delete
          </button>
        </div>
        @if ( formUtils.isValidFieldInArray(favouriteGames, i)) {
        <span class="form-text text-danger">
          {{ formUtils.getFieldErrorInArray(favouriteGames, i) }}
        </span>
        }
      </div>
      } @if ( formUtils.isValidField(myForm, 'favouriteGames')) {
      <span class="form-text text-danger">
        {{ formUtils.getFieldError(myForm, "favouriteGames") }}
      </span>
      }
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">Save</button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ myForm.valid | json }}</pre>
<br />

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br />

<span>Add game</span>
<pre>{{ myForm.controls["favouriteGames"].errors | json }}</pre>
<pre>{{ myForm.controls["favouriteGames"].value | json }}</pre>
