<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm">
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name and Surname</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="User names"
            formControlName="name"
          />

          <span class="form-text text-danger">
            Must be in first name and surname format
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="User's email address"
            formControlName="email"
          />
          <span class="form-text text-danger"> email error message </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Name user code"
            formControlName="username"
          />
          <span class="form-text text-danger">
            Username cannot be Strider
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password for your account"
            formControlName="password"
          />

          <span class="form-text text-danger">
            The password must be longer than 6 characters.
          </span>
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm password"
            formControlName="confirmPassword"
          />

          <span class="form-text text-danger">
            Passwords must be the same
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid:</h2>
<h2>Form Status:</h2>
<h2>Form Pending:</h2>
<h2>Form errors</h2>
<pre>{{ "formulario" | json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.controls["name"].value | json }}</pre>

<h5>Email</h5>
<pre>{{ "formulario" | json }}</pre>

<h5>Username</h5>
<pre>{{ "formulario" | json }}</pre>

<h5>Password</h5>
<pre>{{ "formulario" | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ "formulario" | json }}</pre>
